@import './reset.css';
@import './theme.css';
@import '../fonts/stylesheet.css';

body {
}

.wrapper {
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;
    font-size: 14px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: .2s;
}

.btn_blue {
    background-color: #2f8cff;
}

.btn_blue:hover {
    background-color: #2781ee;
}

.btn_blue:disabled {
    background-color: #85b3eb;
    cursor: auto;
}

@media (max-width: 539px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}